body {
    background-color: #1C1C1C;
    margin: 0px;
    font-family: 'Inter', sans-serif;
}

.header {
    background-color: #6943FF;
    color: white;
    height: 285px;
    width: 550px;
    margin: 30px auto 0px;
}

.main {
    width: 550px;
    height: 444px;
    background-color: #F4F4F4;
    margin: 0px auto 30px;;
}

.result-section {
    background-color: white;
    height: 109px;
    width: 500px;
    margin: 36px auto 23px; 
}