body {
    background-color: #1C1C1C;
    margin: 0px;
    font-family: 'Inter', sans-serif;
}

.header {
    background-color: #6943FF;
    color: white;
    height: 285px;
    width: 550px;
    margin: 30px auto 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

input {
    height: 83px;
    width: 117px;
    border: 2px solid #B295FF;
    border-radius: 5px;
    background-color: #6943FF;
    color: inherit;
    font-size: 58px;
    font-weight: 900;
    text-align: center;
}

button {
    height: 42px;
    width: 117px;
    border-radius: 5px;
    border: none;
    font-size: 16px;

}

.main {
    width: 550px;
    height: 500px;
    background-color: #F4F4F4;
    margin: 0px auto 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.result-section {
    background-color: white;
    height: 109px;
    width: 500px;
    border-radius: 30px 10px;
}

h2 {
    margin: 0px;
    padding-top: 30px;
    font-size: 20px;
    font-weight: 500;
    color: #5A537B;
}

h3 {
    font-size: 14px;
    font-weight: 400;
}